.table {
  /* border: 1px solid black; */
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
}
.th {
  background-color: black;
  color: white;
  font-size: 15px;
  font-weight: 400;
}

.tr {
  background-color: black;
}
